:root {
  font-family: monospace;
  font-size: 14px;
  --color-text: #222;
  --color-text-secondary: #666;
  --color-text-active: #000;
  --color-error: #d73a49;
  --color-error-bg: #fff5f5;
  --color-error-border: #fdaeb7;
  --page-background: white;
  --spacing-unit: 1ch;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}

html {
  scrollbar-gutter: stable;
}

body {
  color: var(--color-text);
  background: var(--page-background);
  line-height: 1.4;
}

.hidden {
  display: none !important;
}
